#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post:nth-child(odd) {
    background-color: #C5D0E6;
}

.post:nth-child(even) {
    background-color: #CCCCFF;
}

.post {
    width: 95%;
    height:max-content;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    transition: 0.05s;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: space-around;
}

.post__text{
    max-width: 93%;

    text-decoration: none;
    color: black;
}

.post__text::first-line{
    font-size: 25px;
    font-weight: 600;
}

.post__text p:nth-child(2){
    display: inline-block;
    font-size: 15px;
    margin-top: 7px;
}

.post:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px black;
    border: 1px solid green;
}