:root {
    --header-color: rgb(255,250,240);
    --center-panel-color: rgb(252,252,238);
    --user-panel-color: rgb(248,248,255);
    --text-color: rgb(0, 0, 0);
    --background-image: url("bumaga.avif");
    --search-color: rgb(234,230,202);
}

.dark-mode {
    --header-color: #494949;
    --center-panel-color: #737373;
    --user-panel-color: #585858;
    --text-color: rgb(255, 255, 255);
    --background-image: url("darkbumaga.avif");
    --search-color: rgb(77, 77, 77);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: 100%;
    transition: 2s;
    height: 90%;
}

.content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#search-post {
    display: flex;
    background-color: var(--search-color);
    height: 40px;
    align-content: center;
    padding-inline: 40px;
    border: 1px solid #000 ;
    box-sizing: border-box;
    border-radius: 7px;
}

.post:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px black;
    border: 1px solid green;
}


#header {
    background-color: var(--header-color);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    position: relative;
    height: 80px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#theme-button {
    display: inline-block;
    height: 80%;
    width: 64px;
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: azure;
    background-image: url("../static/day.png");
    position: absolute;
    left: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.5s;
}

#theme-button:hover {
    transform: scale(1.05);
}

h1 {
    color: var(--text-color);
    display: inline-block;
    font-weight: 800;
    font-size: 40px;
}

#star-button {
    display: none;
    height: 80%;
    width: 64px;
    z-index: 2;
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: azure;
    background-image: url("../static/star.png");
    position: absolute;
    left: 85px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.3s;
}

#star-button:hover {
    transform: scale(1.05);
}

.main {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    height: 100%;
}

.posts {
    background-color: #000;
}

#posts {
    display: flex;
    grid-column: 2/20;
    align-items: center;
    flex-direction: column;
    height: min-content;
    background-color: var(--text-color);
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.post:nth-child(odd) {
    background-color: #C5D0E6;
}

.post:nth-child(even) {
    background-color: #CCCCFF;
}

.post {
    width: 95%;
    height:max-content;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    transition: 0.05s;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    display: flex;
    text-decoration: none;
    color: black;
}

.post__text{
    max-width: 93%;
}

.post__text::first-line{
    font-size: 30px;
    font-weight: 600;
}

.post:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px black;
    border: 1px solid green;
}

#my-posts {
    color: var(--center-panel-color);
    height: 70px;
    display: flex;
    font-size: 30px;
    align-items: center;
}

#user-options{
    grid-column: 21/30;
}

#settings {
    background-color: var(--text-color);
    height:max-content;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 4px black;
    padding-block: 35px;
    color: var(--center-panel-color);
    text-decoration: none;
    transition: 0.3s;
}
#settings:hover {
    transform: scale(1.04);
}

#settings-content{
    top: 20px;
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    height: fit-content;

}

#username{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

#userid{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    min-width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--center-panel-color);
}

.avatar-label {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: contain;
    background-image: url("../static/star.png");
    background-position: 50%;
    border: 2px solid var(--center-panel-color);
    cursor: pointer; 
}
    
.my {
  display: none;
}

#bio {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.button {
    width: 90%;
    height: 100px;
    text-align: center;
    cursor: pointer;
    display: flex;
    border-radius: 15px;
    text-decoration: none;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    transition: all 0.18s ease-in-out;
    border: 1px solid #4FD666;
    background: linear-gradient(to top right, #3EC97A, #69EA49 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
    color: #4FD666;
}



.button:hover {
    color: white;
    background-position: bottom left;
}

#options {
    flex-direction: column;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 20px;
    height: min-content;
    background-color: var(--text-color);
}




