:root {
    --header-color: rgb(255,250,240);
    --center-panel-color: rgb(252,252,238);
    --user-panel-color: rgb(248,248,255);
    --text-color: rgb(0, 0, 0);
    --background-image: url("bumaga.avif");
    --search-color: rgb(234,230,202);
}

.dark-mode {
    --header-color: #494949;
    --center-panel-color: #737373;
    --user-panel-color: #585858;
    --text-color: rgb(255, 255, 255);
    --background-image: url("darkbumaga.avif");
    --search-color: rgb(77, 77, 77);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: 100%;
    transition: 0.5s;
}

.content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#search-post {
    background-color: beige;
    display: flex;
    background-color: var(--search-color);
    height: 40px;
    align-content: center;
    padding-inline: 40px;
    border: 1px solid #000 ;
    box-sizing: border-box;
    border-radius: 7px;
}

.post:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px black;
    border: 1px solid green;
}

body{
    height: 90%;
}

html {
    height: 100%;
}

#header {
    background-color: var(--header-color);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    position: relative;
    height: 80px;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

#theme-button {
    display: inline-block;
    height: 80%;
    width: 64px;
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: azure;
    background-image: url("day.png");
    position: absolute;
    left: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.3s;
}

#theme-button:hover {
    transform: scale(1.05);
}

h1 {
    color: var(--text-color);
    display: inline-block;
    font-weight: 800;
    font-size: 40px;
}

#window {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#autorisation {
    height: 70%;
    width: 70%;
    background-color: var(--center-panel-color);
    border-radius: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#autorisation__elem {
    height: 50%;
    width: 50%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: var(--search-color);
    border: none;
    width: 150px;
    font-size: 20px;
    color: var(--text-color);
}

input::placeholder {
    font-size: 20px;
    color: var(--text-color);

}

.input__elem{
    background-color: beige;
    display: flex;
    background-color: var(--search-color);
    height: 40px;
    align-content: center;
    padding-inline: 40px;
    border: 1px solid #000 ;
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}

input:focus {
    border: none;
    outline: none;
}

#login {
    margin-top: 5px;
    background-color: rgb(114, 225, 114);
    width: 240px;
    height: 30px;
    border-radius: 5px;
}

#login:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#registration {
    margin-top: 5px;
    background-color: rgb(143, 143, 205);
    width: 240px;
    height: 30px;
    border-radius: 5px;
}

#registration:hover {
    transform: scale(1.05);
    cursor: pointer;
}