<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/template-settings/clear.css">
    <link rel="stylesheet" href="../static/css/template-settings/root-settings.css">
    <link rel="stylesheet" href="../static/css/template-settings/header.css">
    <link rel="stylesheet" href="../static/css/template-settings/post.css">
    <link rel="stylesheet" href="../static/css/template-settings/outher.css">
    <link rel="stylesheet" href="../static/css/homepage.css">

    <script src="../static/javascript/homepage.js" type="module" defer></script>

    <title>{{ user }} homepage</title>
</head>
<body>
    <div id="header">
        <a href="/starpage" id="star-button" style="display: inline-block;"></a>
        <div id="theme-button"></div>
        <a href="/"><h1>Forum-d</h1></a>
        <div id="user-panel"><a href="/"></a></div>
    </div>
    <div class="main">
        <div id="posts">
            <div id="my-posts"><p>my posts</p></div>
        </div>
        <div id="user-options">
            <a href="/" id="settings">
                <div id="settings-content">
                    <label for="avatar" class="avatar-label"></label><input type="file" class="my" id="avatar" name="avatar">
                    <div id="username"><p>{{ user }}</p></div>
                    <div id="userid"><p>@Denis</p></div>
                    <div id="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quaerat?</div>
                </div>
            </a>
            <div id="options">
                <a href="/" class="button"><p>Add post</p></a>
            </div>
        </div> 
    </div>
</body>
</html>