<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/template-settings/clear.css">
    <link rel="stylesheet" href="../static/css/template-settings/root-settings.css">
    <link rel="stylesheet" href="../static/css/template-settings/header.css">
    <link rel="stylesheet" href="../static/css/template-settings/post.css">
    <link rel="stylesheet" href="../static/css/template-settings/outher.css">
    <link rel="stylesheet" href="../static/css/template-settings/star-comment.css">

    <link rel="stylesheet" href="../static/css/index.css">

    <script src="../static/javascript/index.js" type="module" defer> </script>

    <title>Forum-d</title>
</head>
<body>
    <div class="main">
        <div id="header">
            {% if user %}
                <a href="/starpage" id="star-button"></a>
            {% endif %}
            <div id="theme-button"></div>
            <a href="/"><h1>Forum-d</h1></a>
            {% if user %}
                <a href="/homepage/{{ user }}" id="user-panel"><p>Home</p></a>
            {% else %}
                <a href="/login" id="user-panel"><p>login</p></a>
            {% endif %}
        </div>
        <div class="content">
            <div id="center-panel">
                <div id="search-panel">
                    <div id="search-post">
                        <input type="text" placeholder="enter post name">
                    </div>
                </div>
                <div id="posts">
                    {% for post in posts %}
                    <div class="post" data-url="{{ post.url }}">
                        <a href="{{ post.url }}"  class="post__text">
                            <p>{{ post.title }}</p>
                            <p>{{ post.content}}</p>
                        </a>
                        <div class="post__options">
                            <img src="../static/images/nostar.png" alt="star image" class="star">
                            <img src="../static/images/comment.png" alt="star image" class="comment">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="update-posts">
            <form action="/" method="post">
                <button type="submit"><img src="../static/images/icons8-перезапуск.gif"></button>
            </form>

        </div>
        <div class="footer">
            <p>Open source product</p>
        </div>
    </div>
</body>
</html>