<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/template-settings/clear.css ">
    <link rel="stylesheet" href="../static/css/template-settings/root-settings.css">
    <link rel="stylesheet" href="../static/css/template-settings/header.css">
    <link rel="stylesheet" href="../static/css/template-settings/post.css">
    <link rel="stylesheet" href="../static/css/template-settings/outher.css">

    <link rel="stylesheet" href="../static/css/login.css">
    
    <script src="../static/javascript/login.js" type="module" defer></script>

    <title>Login</title>

</head>
<body>
    <div id="header">
        <div id="theme-button"></div>
        <a href="/"><h1>Forum-d</h1></a>
    </div>
    <div id="window">
        <div id="authorisation">
            <div id="authorisation__elem">
                <form action="{{ url_for('login') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input__elem">
                        {{ form.username(placeholder="username")}}
                    </div>
                    <div class="input__elem">
                        {{ form.password(placeholder="password")}}
                    </div>
                    {{ form.login() }}
                </form>
                <a href="/registration"><button id="registration">Registration</button></a>
            </div>
        </div>
    </div>
</body>
</html>