<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/template-settings/clear.css ">
    <link rel="stylesheet" href="../static/css/template-settings/root-settings.css">
    <link rel="stylesheet" href="../static/css/template-settings/header.css">
    <link rel="stylesheet" href="../static/css/template-settings/post.css">
    <link rel="stylesheet" href="../static/css/template-settings/outher.css">

    <link rel="stylesheet" href="../static/css/registration.css">

    
    <script src="../static/javascript/registration.js" type="module" defer></script>

    <title>Registration</title>

</head>
<body>
    <div id="header">
        <div id="theme-button"></div>
        <a href="/"><h1>Forum-d</h1></a>
    </div>
    <div id="window">
        <div id="authorisation">
            <div id="authorisation__elem">
                <form action="/registration" method="post">
                    <div class="input__elem">
                        <input type="text" placeholder="username">
                    </div>
                    <div class="input__elem">
                        <input type="password" placeholder="password">
                    </div>
                    <div class="input__elem">
                        <input type="text" placeholder="name">
                    </div>
                    <div class="input__elem">
                        <input type="text" placeholder="surname">
                    </div>
                    <a href="/login"><button type="submit" id="registration">Registration</button></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>