<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleclear.css ">
    <link rel="stylesheet" href="../static/registration.css">
    
    <script src="../static/registration.js" defer></script>
    <title>Registratuon</title>

</head>
<body>
    <div id="header">
        <div id="theme-button"></div>
        <a href="/"><h1>Forum-d</h1></a>
    </div>
    <div id="window">
        <div id="autorisation">
            <div id="autorisation__elem">
                <form action="/registration" method="post">
                    <div class="input__elem">
                        <input type="text" placeholder="username">
                    </div>
                    <div class="input__elem">
                        <input type="password" placeholder="password">
                    </div>
                    <div class="input__elem">
                        <input type="text" placeholder="name">
                    </div>
                    <div class="input__elem">
                        <input type="text" placeholder="surname">
                    </div>
                    <a href="/autorisation"><button type="submit" id="registration">Registration</button></a>
                </form>

            </div>
        </div>
    </div>
</body>
</html>