<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styleclear.css">
    <link rel="stylesheet" href="../static/starpage.css">
    
    <script src="../static/starpage.js" defer></script>

    <title>Main Starred Posts</title>
</head>
<body>
    <div id="header">
        <div id="theme-button"></div>
        <a href="/"><h1>Forum-d</h1></a>
    </div>
    <div id="posts">
    </div>
</body>
</html>